.container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100px;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.circle2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.left-animation {
    animation-delay: 250ms;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: leftanimation;
}

.transform-animation {
    animation-delay: 250ms;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: transformanimation;
}

@keyframes transformanimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes leftanimation {
    from {
        left: 0;
    }

    to {
        left: 100px;
    }
}