.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.bar {
    display: inline-block;
    width: 50px;
    height: 150px;
    background-color: antiquewhite;
    animation: autoheight 2s linear infinite;
}

@keyframes autoheight {
    0% {
        transform: scaleY(1);
    }

    25% {
        transform: scaleY(0.8);
    }

    50% {
        transform: scaleY(0.6);
    }

    75% {
        transform: scaleY(0.8);
    }

    100% {
        transform: scaleY(1);
    }
}