.animation-example {
    max-width: 100px;
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.test {
    display: inline-block;
    text-wrap: nowrap;
    /* animation: rolling 5s ease-in-out alternate; */
}

@keyframes rolling {
    0% {
        transform: translate(0%);
    }

    100% {
        transform: translate(-100%);
    }
}